node_modules
.opencode
.vscode
.vite-hooks
drizzle
.wrangler
.husky
data.sqlite
docs

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
.build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.env*
.flaskenv*
!.env.project
!.env.vault
